* { -webkit-box-sizing: border-box; box-sizing: border-box; }

body { font-family: "Roboto", sans-serif; }

.container { max-width: 1440px; margin: auto; }

img { max-width: 100%; }

.navbar-container { background-color: #462446; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 0 26px; }

.navbar-menu { width: 600px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; list-style-type: none; color: #ffffff; font-style: normal; font-weight: normal; font-size: 24px; line-height: 28px; }

.navbar-button__town { width: 306px; height: 49px; left: 1098px; top: 14px; background-color: rgba(119, 0, 255, 0.12); border-radius: 50px; font-style: normal; font-weight: normal; font-size: 24px; line-height: 28px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; color: #ffffff; border: none; outline: 0; }

.navbar-button__link { color: #ffffff; }

.dropdown { position: relative; }

.dropdown__input { display: none; }

.dropdown-city { cursor: pointer; border-bottom: 1px dashed blue; }

.dropdown-city__item { display: none; position: absolute; left: 0; top: 1.3em; margin: 0; padding: 5px; list-style: none; background: #673AB7; }

.dropdown-city__item::checked { display: inline-block; }

.main-container { position: relative; height: 353px; width: 100%; padding: 102px 68px 0px 68px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.main-container::before { content: ""; top: 0; left: 0; width: 100%; height: 100%; position: absolute; background-image: url(../../img/main.png); background-size: cover; -webkit-filter: grayscale(100%); filter: grayscale(100%); overflow: hidden; }

.main-info { position: relative; color: #ffffff; width: 847px; }

.main-title { margin: 0; font-style: normal; font-weight: 500; font-size: 48px; line-height: 56px; }

.main-text { font-style: normal; font-weight: normal; font-size: 32px; line-height: 37px; }

.main-button { position: relative; height: 75px; width: 308px; margin-top: 116px; padding: 18px 94px; background-color: #EB6B56; color: rgba(0, 0, 0, 0.67); font-style: normal; font-weight: normal; font-size: 28px; line-height: 37px; border-radius: 70px; border: none; outline: 0; cursor: pointer; }

.option-container { width: 100%; height: 79px; background-color: #EB6B56; color: rgba(0, 0, 0, 0.67); padding: 23px; }

.option-info { margin: auto; max-width: 1260px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; font-style: normal; font-weight: normal; font-size: 22px; line-height: 30px; }

.option-selection { margin: 0; margin-right: 2px; }

.option-label { margin: 0; width: 903px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.offer { background-color: #EFEFEF; width: 100%; }

.package { margin-bottom: 10px; }

.package__line { display: inline-block; width: 100%; border: 1px solid #47B39D; }

.package__text { margin: 0 0 0 28px; font-style: normal; font-weight: normal; font-size: 24px; line-height: 28px; }

.footer-container { position: relative; height: 76px; background-color: #462446; color: #ffffff; margin: 0; }

.footer-info { display: block; position: absolute; right: 20px; top: 20px; margin: 0; list-style-type: none; }

.swiper-container { width: 1320px; height: 312px; margin: 0; }

.tariff { background-color: #EFEFEF; }

.tariff-container { width: 437px; height: 305px; padding: 20px 35px; border-radius: 40px; border: 1px solid #EB6B56; }

.tariff-info { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 20px; height: 73px; }

.info-detail { width: 202px; text-decoration: none; color: #A5A2A2; cursor: pointer; }

.info-detail__text { vertical-align: top; text-decoration: underline; }

.info-logo__img { height: 73px; -o-object-fit: contain; object-fit: contain; }

.basis { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 25px; }

.basis-speed { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; padding-left: 20px; width: 130px; height: 83px; background-color: #DCDCDC; border-radius: 20px; color: #343434; }

.basis-speed__value { font-style: normal; font-weight: normal; font-size: 48px; line-height: 50px; }

.basis-speed__nominal { font-style: normal; font-weight: normal; font-size: 24px; line-height: 28px; }

.basis-price { display: -webkit-box; display: -ms-flexbox; display: flex; }

.basis-price__value { font-style: normal; font-weight: 500; font-size: 64px; line-height: 75px; margin-right: 5px; }

.basis-price__nominal { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; font-size: 24px; line-height: 28px; }

.basis-price__nominal-old { color: #8E8D8D; text-decoration: line-through; font-size: 18px; line-height: 21px; }

.buttons { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; color: #EFEFEF; }

.buttons__label { width: 170px; height: 49px; padding: 14px 22px; background: #7700FF; border-radius: 150px; font-style: normal; font-weight: normal; font-size: 18px; line-height: 21px; }

.buttons__request { width: 170px; height: 49px; margin: 0; font-style: normal; font-weight: normal; font-size: 22px; line-height: 25px; background: #EB6B56; border-radius: 150px; outline: 0; border: none; overflow: hidden; cursor: pointer; color: #EFEFEF; }

.modal__title { color: #000; text-transform: uppercase; text-align: center; font-style: normal; font-weight: normal; font-size: 22px; line-height: 28px; margin: 0; }

.modal__form { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; background-color: #EFEFEF; }

.modal__form__group { width: 100%; }

.modal__overlay { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 100; background-color: rgba(0, 0, 0, 0.61); visibility: hidden; opacity: 0; -webkit-transition: opacity 0.2s; transition: opacity 0.2s; }

.modal__overlay--visible { visibility: visible; opacity: 1; }

.modal__dialog { position: fixed; top: 50%; left: 50%; max-width: 898px; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); padding: 33px 88px; background-color: #EFEFEF; border-radius: 8px; z-index: 101; visibility: hidden; opacity: 0; -webkit-transition: opacity 0.2s; transition: opacity 0.2s; }

.modal__dialog--visible { visibility: visible; opacity: 1; }

.modal__text { margin-bottom: 0; }

.modal__input { width: 100%; height: 48px; margin-top: 15px; border: 1px solid #C1B5B5; border-radius: 15px; padding-left: 10px; }

.modal__button { margin-top: 30px; width: 170px; height: 50px; background-color: #47B39D; color: #EFEFEF; border-radius: 40px; font-style: normal; font-weight: normal; font-size: 22px; line-height: 30px; border: none; outline: 0; cursor: pointer; }

.modal__link { position: absolute; right: 18px; top: 17px; text-decoration: none; cursor: pointer; }

.close { position: absolute; right: 18px; top: 17px; text-decoration: none; cursor: pointer; }

.close__button { background-color: #EFEFEF; width: 40px; border: none; outline: 0; cursor: pointer; }

.input-group { width: 100%; }

.form-list { display: block; }

.form-list__items { list-style-type: none; margin-bottom: 5px; }
/*# sourceMappingURL=style.css.map */