* { -webkit-box-sizing: border-box; box-sizing: border-box; }

body { font-family: "Roboto", sans-serif; }

.container { max-width: 1440px; margin: auto; }

img { max-width: 100%; }

.navbar-container { background-color: #462446; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 0 26px; }

.navbar-menu { width: 600px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; list-style-type: none; color: #ffffff; font-style: normal; font-weight: normal; font-size: 24px; line-height: 28px; }

.navbar-button__town { width: 306px; height: 49px; left: 1098px; top: 14px; background-color: rgba(119, 0, 255, 0.12); border-radius: 50px; font-style: normal; font-weight: normal; font-size: 24px; line-height: 28px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; color: #ffffff; border: none; outline: 0; }

.navbar-button__link { color: #ffffff; }

.main-container { position: relative; height: 353px; width: 100%; padding: 102px 68px 0px 68px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.main-container::before { content: ""; top: 0; left: 0; width: 100%; height: 100%; position: absolute; background-image: url(../../img/main.png); background-size: cover; -webkit-filter: grayscale(100%); filter: grayscale(100%); overflow: hidden; }

.main-info { position: relative; color: #ffffff; width: 847px; }

.main-title { margin: 0; font-style: normal; font-weight: 500; font-size: 48px; line-height: 56px; }

.main-text { font-style: normal; font-weight: normal; font-size: 32px; line-height: 37px; }

.main-button { position: relative; height: 75px; width: 308px; margin-top: 116px; padding: 18px 94px; background-color: #EB6B56; color: rgba(0, 0, 0, 0.67); font-style: normal; font-weight: normal; font-size: 28px; line-height: 37px; border-radius: 70px; border: none; outline: 0; }

.option-container { width: 100%; height: 79px; background-color: #EB6B56; color: rgba(0, 0, 0, 0.67); padding: 23px; }

.option-info { margin: auto; max-width: 1260px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; font-style: normal; font-weight: normal; font-size: 22px; line-height: 30px; }

.option-selection { margin: 0; margin-right: 2px; }

.option-label { margin: 0; width: 903px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.slider { position: relative; overflow: hidden; }

.slider-wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-transition: -webkit-transform 0.6s ease; transition: -webkit-transform 0.6s ease; transition: transform 0.6s ease; transition: transform 0.6s ease, -webkit-transform 0.6s ease; }

.slider-item { -webkit-box-flex: 0; -ms-flex: 0 0 33.333333%; flex: 0 0 33.333333%; max-width: 33.333333%; }

.slider-control { position: absolute; top: 50%; display: none; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 40px; color: #fff; text-align: center; opacity: 0.5; height: 50px; -webkit-transform: translateY(-50%); transform: translateY(-50%); background: #fff; }

.slider-control__show { display: -webkit-box; display: -ms-flexbox; display: flex; }

.slider-control:hover { color: #fff; text-decoration: none; outline: 0; opacity: .9; }

.slider-control:focus { color: #fff; text-decoration: none; outline: 0; opacity: .9; }

.slider-control__left { left: 0; background-image: url(../../img/back-arrow.svg); opacity: .9; }

.slider-control__right { right: 0; background-image: url(../../img/next-arrow.svg); }

.slider-control::before { content: ''; display: inline-block; width: 20px; height: 20px; background: transparent no-repeat center center; background-size: 100% 100%; }

.slider-item > div { line-height: 250px; font-size: 100px; text-align: center; }

.footer-container { height: 76px; background-color: #462446; color: #ffffff; }

.swiper-container { width: 1318px; height: 300px; }

.tariff { background-color: #EFEFEF; padding: 14px; }

.tariff-container { width: 437px; height: 305px; padding: 20px 35px; border-radius: 40px; border: 1px solid #EB6B56; }

.tariff-info { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 20px; }

.info-detail { width: 202px; text-decoration: none; color: #A5A2A2; cursor: pointer; }

.info-detail__text { vertical-align: top; text-decoration: underline; }

.basis { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 25px; }

.basis-speed { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; padding-left: 20px; width: 130px; height: 83px; background-color: #DCDCDC; border-radius: 20px; color: #343434; }

.basis-speed__value { font-style: normal; font-weight: normal; font-size: 48px; line-height: 50px; }

.basis-speed__nominal { font-style: normal; font-weight: normal; font-size: 24px; line-height: 28px; }

.basis-price { display: -webkit-box; display: -ms-flexbox; display: flex; }

.basis-price__value { font-style: normal; font-weight: 500; font-size: 64px; line-height: 75px; margin-right: 5px; }

.basis-price__nominal { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; font-size: 24px; line-height: 28px; }

.basis-price__nominal-old { color: #8E8D8D; text-decoration: line-through; font-size: 18px; line-height: 21px; }

.buttons { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; color: #EFEFEF; }

.buttons__label { width: 170px; height: 49px; padding: 14px 22px; background: #7700FF; border-radius: 150px; font-style: normal; font-weight: normal; font-size: 18px; line-height: 21px; }

.buttons__request { width: 170px; height: 49px; margin: 0; font-style: normal; font-weight: normal; font-size: 22px; line-height: 25px; background: #EB6B56; border-radius: 150px; outline: 0; border: none; overflow: hidden; color: #EFEFEF; }
/*# sourceMappingURL=style.css.map */