.tariff
  background-color: #EFEFEF
  // padding: 14px
  // width: 1420px
  &-container
    width: 437px
    height: 305px
    padding: 20px 35px
    border-radius: 40px
    border: 1px solid #EB6B56
  &-info
    display: flex
    justify-content: space-between
    margin-bottom: 20px
    height: 73px
.info 
  &-detail
    width: 202px
    text-decoration: none
    color: #A5A2A2
    cursor: pointer
    &__text
      vertical-align: top
      text-decoration: underline
  &-logo
    &__img
      height: 73px
      object-fit: contain
.basis
  display: flex
  justify-content: space-between
  margin-bottom: 25px
  &-speed
    display: flex
    flex-wrap: wrap
    padding-left: 20px
    width: 130px
    height: 83px
    background-color: #DCDCDC
    border-radius: 20px
    color: #343434
    &__value
      font-style: normal
      font-weight: normal
      font-size: 48px
      line-height: 50px
    &__nominal
      font-style: normal
      font-weight: normal
      font-size: 24px
      line-height: 28px
  &-price
    display: flex
    &__value
      font-style: normal
      font-weight: 500
      font-size: 64px
      line-height: 75px
      margin-right: 5px
    &__nominal
      display: flex
      flex-direction: column
      justify-content: center
      font-size: 24px
      line-height: 28px
      &-old
        color: #8E8D8D
        text-decoration: line-through
        font-size: 18px
        line-height: 21px
.buttons
  display: flex
  justify-content: space-between
  color: #EFEFEF
  &__label
    width: 170px
    height: 49px
    padding: 14px 22px
    background: #7700FF
    border-radius: 150px
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 21px
  &__request
    width: 170px
    height: 49px
    margin: 0
    font-style: normal
    font-weight: normal
    font-size: 22px
    line-height: 25px
    background: #EB6B56
    border-radius: 150px
    outline: 0
    border: none
    overflow: hidden
    cursor: pointer
    color: #EFEFEF
 
